.watchBtn {
  padding: 16px 40px;
  background-color: var(--green);
  color: var(--dark);
  font-size: var(--size-normal);
  font-weight: 700;
  border-radius: 13px;
  outline: none;
  border: none;
  max-height: 50px;
  transition: all 0.2s ease;
}

.watchBtn:hover {
  box-shadow: 0 0 10px var(--green);
  color: var(--white);
}