.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  background-color: #16181E;
  border: 1px solid #F9F9F91A;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.cardImg {
  width: 50px;
  height: 50px;
}

.title {
  font-size: var(--size-small);
  font-weight: 700;
  color: var(--white);
  margin: 0;
}

.episode {
  font-size: 12px;
  font-weight: 700;
  color: #F9F9F9B2;
  margin-top: 8px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.dropBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 50px;
  min-height: 35px;
  font-size: 12px;
  font-weight: 700;
  color: var(--white);
  border-radius: 7px;
  background-color: #F9F9F933;
  padding: 11px 9px;
  outline: none;
  border: none;
  transition: all 0.2s ease;
}

.dropBtn:hover {
  box-shadow: 0 0 10px rgba(249, 249, 249, 0.2);
}

.progressBar {
  background-color: var(--white);
  border-radius: 20px;
  margin-top: 10px;
}

.progressBar>div {
  background-color: var(--green);
  width: 40%;
  height: 3px;
  border-radius: 10px;
}